{{ include('admin/blog/_delete_comment_confirmation.html.twig') }}
<form action="{{ url('admin_comment_delete', {id: comment.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-lg btn-block btn-danger" style="display: inline">
        <i class="fa fa-remove" aria-hidden="true"></i>
        {{ 'action.delete_comment'|trans }}
    </button>
</form>
